* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form,
#register-form,
#index-form {
    width: 500px; /* Đảm bảo cùng một chiều rộng cho cả ba form */
    margin: 20px auto; /* Canh giữa form */
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #AD171C;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #AD171C;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #9c1418;
}

